<div id="settings"
    data-role="view"
    data-title="Settings"
    data-model="app.settingsViewModel"
    data-bind="events: { show: onViewShow }"
    style="display:none;">

    <header data-role="header">
        <div data-role="navbar">
            <a data-role="button" data-rel="drawer" href="#appDrawer" data-icon="drawer-icon" data-align="left"></a>

            <div class="navbar-title">Hx One</div>

            <a data-role="button" data-align="right" href="#views/login.html">
                <span data-bind="style: { backgroundImage: user.userPic }" class="user-pic"></span>
                <span data-bind="text: user.shortName" class="user-name" style="font-size: .9em; position: relative; top: -14px;"></span>
            </a>

        </div>
    </header>

    <div class="container">
        <h2>Settings</h2>

        <div class="pure-g">
            <div class="pure-u-1 center">
                Current Patient Id: <span data-bind="text: patient.id"></span><br/>
                <a data-bind="click: onClearPatient" type="button" data-role="button">Clear Patient</a>
            </div>
        </div>
    </div>
</div>
